<div class="box box-primary">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">

            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Over all Incomes</span>
                        <span class="info-box-number">0 $</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Clients </span>
                        <span class="info-box-number">0</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <!-- MAP & BOX PANE -->
                <!-- /.box -->
                <!-- /.row -->
                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Latest Delivery Notes </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>S.R. ID</th>
                                        <th>Hotel</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                                                                    <td><a href="pages/examples/invoice.html">001</a></td>
                                                                                    <td>Hilton Hotels</td>
                                                                                    <td><span class="label label-success">Completed</span></td>

                                                                                    <td>
                                        11/23/2019                                             </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><a href="pages/examples/invoice.html">002</a></td>
                                                                                    <td>Warwick Hotels</td>
                                                                                    <td><span class="label label-warning">Pending</span></td>
                                                                                    <td>
                                                                                        11/23/2019
                                                                                    </td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td><a href="pages/examples/invoice.html">003</a></td>
                                                                                    <td>FourSeasons Hotels</td>
                                                                                    <td><span class="label label-danger">Under Progress</span></td>
                                                                                    <td>
                                                                                        11/23/2019
                                                                                    </td>
                                                                                </tr>*@

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Service Request</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->

            <div class="col-md-4">
                <!-- Info Boxes Style 2 -->
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Pending</span>
                        <span class="info-box-number">0</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 0%"></div>
                        </div>
                        <span class="progress-description">
                            0% of all S.R.
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Completed</span>
                        <span class="info-box-number">0</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 0%"></div>
                        </div>
                        <span class="progress-description">
                            0% of all S.R.
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Under Progress </span>
                        <span class="info-box-number">0</span>

                        <div class="progress">
                            <div class="progress-bar" style="width: 0%"></div>
                        </div>
                        <span class="progress-description">
                            0% of all S.R.
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                <!-- /.info-box -->
                <!-- /.box -->
                <!-- PRODUCT LIST -->
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>






















<div class="col-md-4">
    <!-- Info Boxes Style 2 -->
    <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Pending</span>
            <span class="info-box-number">0</span>

            <div class="progress">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <span class="progress-description">
                0% of all S.R.
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    <div class="info-box bg-green">
        <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Completed</span>
            <span class="info-box-number">0</span>

            <div class="progress">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <span class="progress-description">
                0% of all S.R.
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    <div class="info-box bg-red">
        <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Under Progress </span>
            <span class="info-box-number">0</span>

            <div class="progress">
                <div class="progress-bar" style="width: 0%"></div>
            </div>
            <span class="progress-description">
                0% of all S.R.
            </span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
    <!-- /.info-box -->
    <!-- /.box -->
    <!-- PRODUCT LIST -->
    <!-- /.box -->
</div>